page-rating {
    .toolbar-background {
        background-color:#11C1F3;
    
}
.checked {
    color: #FFC900;
    font-size: 40px;
    ;
  }
.unchecked {
    color: 'dark';
    font-size: 40px;
    ;
  }
}
