<ion-content text-center padding="true" scroll="false" class="manual-ios-statusbar-padding">

<!-- <div *ngIf="!isConnected" style="margin-top: 70px">

    <img src="assets/mapi/icon-error.png">
    <p style="text-align: center;">
        connect to the internet
    </p>
</div> -->
<br>

<!-- <div *ngIf="isConnected"> -->
                          
<div>
    <img class="logo" src="https://blooming-waters-81867.herokuapp.com/img/respo2.png"
        style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
</div>
<br>
<br>
<br>

<div scroll="false"  [formGroup]="formgroup">

    <ion-item>
        <ion-input [(ngModel)]='tel' (ionBlur)="convert()" block formControlName="phoneNumber" minLength="11"
            maxLength="11" type="tel" placeholder="Cell Number">
        </ion-input>
    </ion-item>
    <ion-item no-lines  *ngIf="phoneNumber.hasError('required') && phoneNumber.touched">
  
       &nbsp;&nbsp;<font size="2" color='#f53d3d'>Cell Number is required!</font>
    </ion-item>

    <ion-item>
        <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false" minLength="4" maxLength="6"
            placeholder="Password">
        </ion-input>
        <button ion-button clear item-end (click)='hideShowPassword()' style="height:25px;">
            <ion-icon name="eye" style="font-size:25px;">
            </ion-icon>
        </button>
    </ion-item>
    <ion-item no-lines *ngIf="password.hasError('required') && password.touched">
            &nbsp;<font size="2" color='#f53d3d'>Password is required!</font>
         </ion-item>

</div>




<br>

<button    icon-right ion-button round block (click)="goHome()" color="newcolor">

Log in
</button>


<p text-center  (click)="goResetPassword()">Forgot Password</p>

<P text-center >Or</P>

<button (click)="goRegister()"  full round ion-button color="calm" clear>Register</button>
<!-- </div> -->

</ion-content>