<ion-header>
    <ion-navbar color="newcolor">
      <ion-toolbar color="newcolor" mode="ios">
        <ion-buttons start>
         <button color='light' ion-button icon-only menuToggle>
         <ion-icon name="menu"></ion-icon>
        </button>
       </ion-buttons>
      <ion-title text-center></ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
    
<ion-content padding >

    <ion-title (click)="goMaps" text-center>Select Beneficiary</ion-title>

    <br>
      

        <ion-card (click)="goMaps">
          <ion-card-content (click)="goMaps">
            <ion-list *ngFor="let fault of ben_collection">
              <div class="login-fields" [formGroup]="beneficiaryForm">
                <ion-item  text-left>
                  <ion-avatar item-left>
                   <img class="logo" src="">
                   </ion-avatar>
                  <font size="3" color='#38414a'>{{ fault.name }}</font><br>
                </ion-item>          
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
     

    <div class="login-fields" [formGroup]="beneficiaryForm">

    <ion-item (click)="goMaps()">
        <ion-input placeholder="Beneficiary" type="text"></ion-input>
        <ion-select formControlName="Beneficiary_id">
            <ion-label>Select Beneficiary</ion-label>
          
          <div *ngFor="let fault of ben_collection">
              <ion-option value="{{ fault.id}}">{{fault.name}}</ion-option>
            </div>
  
        </ion-select>
      </ion-item>

    </div>

    <br>

    <!-- <ion-row>
        <ion-col col-6>
          <button  ion-button round block color='secondary' (click)="goMaps()">
            Next
          </button>
        </ion-col>
      </ion-row> -->



  
</ion-content>
