
<ion-content text-center>
<br>
<!-- <div class="pac-card" id="pac-card">
  <div>
    <div id="title">
      Autocomplete search
    </div>
    <div id="type-selector" class="pac-controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <label for="changetype-all">All</label>

      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>

      <input type="radio" name="type" id="changetype-address">
      <label for="changetype-address">Addresses</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label>
    </div>
    <div id="strict-bounds-selector" class="pac-controls">
      <input type="checkbox" id="use-strict-bounds" value="">
      <label for="use-strict-bounds">Strict Bounds</label>
    </div>
  </div> -->
  <div id="pac-container">
    <input id="pac-input" type="text"
        placeholder="Enter a location">
      
        

  </div>

<!-- <div id="map"></div> -->

<br>


  <!-- <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place">

  </ion-searchbar>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list> -->

  <div id="map">


  </div>

  <br>
  <div id="infowindow-content">
    <img src="" width="12" height="12" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>   
              
              <!-- <ion-row *ngFor="let respo of selectedResponder"> -->
              <ion-card>
              
                <ion-card-content>
                  <ion-item no-lines text-left>
                    <ion-avatar item-start>
                      <img src="http://46.101.169.33/img/CITIMED.jpg">
                    </ion-avatar>
                    <ion-row>
                      <p style="font-size: 12px;"><b>Name:</b>
                        {{ responderName }}
                      </p>
                    </ion-row>

                    <ion-row>
                      <p style="font-size: 12px;"><b>
                          <!-- {{ responderDistance }} minutes away -->
                          1 minute away
                        </b>
              
                      </p>
                    </ion-row>
                  </ion-item>
                </ion-card-content>
              
              </ion-card>
              <!-- </ion-row> -->
              
              
              <font size="4" color='#38414a'>Emergency Type</font>
              <br>
              <br>
              <font size="4" color='#f53d3d'>{{event}}</font>
              
              <br>
              <br>
              
              <button (click)="goConfirm()" ion-button color="secondary"
                round>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirm
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <br>
              <br>
              
              <button (click)="goHome()" ion-button color="newcolor"
                round>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancel
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              
              
              
              
              
              
              
              
              
              
              
              
              </ion-content>