<ion-content no-scrolling text-center padding>
  <br>
 
  <h5>Personal Details</h5>
    <br>

    <div class="register-fields" [formGroup]="registerForm">
      <ion-item>
        <ion-input
          block
          formControlName="fullName"
          type="text"
          placeholder="Full Name"
        ></ion-input>
      </ion-item>
      <ion-item no-lines  *ngIf="fullName.hasError('required') && fullName.touched">
          &nbsp;<font size="2" color='#f53d3d'>Full name  is required!</font>
       </ion-item>

      <ion-item>
        <ion-input
          block
          formControlName="civsurname"
          type="text"
          placeholder="Surname"
        ></ion-input>
      </ion-item>
      <ion-item no-lines  *ngIf="civsurname.hasError('required') && civsurname.touched">
          &nbsp;<font size="2" color='#f53d3d'>Surname is required!</font>
       </ion-item>
    
   
  
      <ion-item>
        <ion-input [(ngModel)]='phone' (ionBlur)="convert()"
          block
          formControlName="phonenumber"
          minLength="11"
          maxLength="11"
          type="tel"
          placeholder="Cell Number"
        ></ion-input>
      </ion-item>
      <ion-item no-lines  *ngIf="phonenumber.hasError('required') && phonenumber.touched">
          &nbsp;<font size="2" color='#f53d3d'>Cell number is required!</font>
       </ion-item>
  
      <ion-item>
        <ion-input
          block
          formControlName="email"
          type="email"
          placeholder="Email"
          minLength="10"
          maxLength="50"
        ></ion-input>
      </ion-item>
      <ion-item no-lines  *ngIf="email.hasError('required') && email.touched">
          &nbsp;<font size="2" color='#f53d3d'>Email is required!</font>
       </ion-item>
  
  

      <ion-item>
          <ion-input
            block
            formControlName="password"
            minLength="6"
            maxLength="6"
            type="password"
            placeholder="Create Password (6)"
            [type]="passwordType" 
            clearOnEdit="true" 
          ></ion-input>
          
          <button ion-button clear item-end (click)='hideShowPassword()' style="height:25px;">
              <ion-icon name="eye" style="font-size:25px;">
              </ion-icon>
              </button>
        </ion-item>
        <ion-item no-lines *ngIf="password.hasError('required') && password.touched">
        &nbsp;<font size="2" color='#f53d3d'>6 characters required!</font>
     </ion-item>

     
    </div>

  <br>

  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block round clear color="newcolor" (click)="goLogin()">back</button>
        </ion-col>
  
        <ion-col col-6>
          <button [disabled]="!registerForm.valid" ion-button block color="secondary" round   (click)="goMedicalDetails()">
            Next
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>