page-select-responder {
    .toolbar-background {
        background-color:#38414a;
      }
  
    //  .background-color {
    //     color: #f53d3d;
    //  }
    // $toolbar-title-color : #f53d3d;
    //  .toolbar-title-text-color {
    //     color: #f53d3d;
    //  }
     .toolbar-title-color {
        color: #f53d3d;
     }
    //  .toolbar-title-text-color {
    //     color: #f53d3d;
    //  }

     .item-md ion-avatar ion-img, .item-md ion-avatar img {
      border-radius: 50%;
      overflow: hidden;
      width: 90px;
      height: 90px;
  }

  .content-md {
    color: #000;
    background-color: #f3f4f6,;
}

.card-md {
  margin: 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
}
