<ion-header>
  <ion-navbar color="newcolor">
    <ion-toolbar mode="ios">
      <ion-buttons start>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
           </button>
          </ion-buttons>
         <ion-title>Select Responder</ion-title>
       <ion-buttons end>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content text-center>    
      <br>
<!-- <ion-item (click)="goConfirm()"> -->
      <!-- <ion-list *ngFor="let respo of allResponders"> -->
      <ion-row *ngFor="let respo of allResponders">
      
       <ion-card>
          <ion-card-content>

              <ion-item (click)="goMaps()" text-left>

                  <ion-avatar item-right>
                    <img src="../../assets/CITIMED.jpg">
                  </ion-avatar>

                   <ion-row>   
                      <p style="font-size: 12px;"><b>Responder Name:</b> 
                        {{ respo.driver_name }}
                      </p>
                  </ion-row>
                  <!-- <ion-row>   
                    <p style="float:left; font-size: 12px;"><b>Company Name:</b> 
                      {{ respo.company.company_name }}
                    </p>
                  </ion-row> -->

                  <font size="3" color='#38414a'><b>{{ respo.company.company_name }}</b></font><br>
                  <!-- <font size="2" color='#38414a'>{{ respo.phone_no }}</font><br> -->
                  <font size="2" color='#38414a'> Closest Base : 5 kms away </font><br>

                  <!-- <ion-row>   
                      <p style="float:left; font-size: 12px;"><b>Cell Number:</b>
                         {{ respo.phone_no }}
                      </p>
                    </ion-row> -->
          
                  <!-- <ion-row>   
                      <p style="float:left; font-size: 12px;"><b>Email:</b> 
                        {{ respo.email}}
                      </p>
                  </ion-row>

                  <ion-row>   
                      <p style="float:left; font-size: 12px;"><b>Plate Number:</b>
                        {{ respo.license_no }}
                      </p>
                    </ion-row>

                  <ion-row>   
                    <p style="float:left; font-size: 12px;"><b></b> 
                      1 minute away
                    </p>
                </ion-row> -->
                 
             </ion-item>

          </ion-card-content>

      </ion-card> 

      </ion-row>


 <!-- &nbsp;<h5>Request for someone else:</h5> -->

 <!-- <button (click)="goRequestElse()"  ion-button color="danger" round> -->

   <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
   <!-- <ion-icon name="paper"></ion-icon> -->
  <!-- </button> -->

  
    <!-- <ion-item >
      <ion-avatar item-start>
        <img src="../../assets/3FydRPmMQsaNOI7xC6Zo_RRV.png">
      </ion-avatar>
      <h2>ER24</h2>
      <p>2km away
        <br></p>
    </ion-item>
    <ion-item >
      <ion-avatar item-start>
        <img src="../../assets/l2d9CNXBTki9QpllSWCB_RRV2.png">
      </ion-avatar>
      <h2>Netcare</h2>
      <p>12km away
        <br></p>
    </ion-item>
    <ion-item >
      <ion-avatar item-start>
        <img src="../../assets/3FydRPmMQsaNOI7xC6Zo_RRV.png">
      </ion-avatar>
      <h2>Rescue care</h2>
      <p>8km away
        <br></p>
    </ion-item>
    <ion-item >
      <ion-avatar item-start>
        <img src="../../assets/l2d9CNXBTki9QpllSWCB_RRV2.png">
      </ion-avatar>
      <h2>Citi-Med</h2>
      <p>1km away
        <br></p>
    </ion-item>
    <ion-item >
      <ion-avatar item-start>
        <img src="../../assets/3FydRPmMQsaNOI7xC6Zo_RRV.png">
      </ion-avatar>
      <h2>Medicare</h2>
      <p>15km away
        <br></p>
    </ion-item>
    <ion-item >
      <ion-avatar item-start>
        <img src="../../assets/l2d9CNXBTki9QpllSWCB_RRV2.png">
      </ion-avatar>
      <h2>Paramed</h2>
      <p>14km away
        <br></p>
    </ion-item> -->

  <!-- </ion-list> -->

  <!-- </ion-item> -->
</ion-content>
