page-maps {
        .toolbar-background {
            background-color:#11C1F3;
          
          
      }
      .gm-style .gm-style-iw {
        // background-color: #f2f3f5;
        // top: 0 !important;
        // left: 0 !important;
        width: 110px !important;
        // height: 10% !important;
        min-height: 50px !important;
        // padding: 0px;
        // display: block !important;
    }
    .gm-style .gm-style-iw {
      border: 2px solid #488aff;
      width: 0% ;
      height: 15% ;
    
   }    
   .gm-style .gm-style-iw #google-popup p{
    padding: 4px;
  }
  .gm-style div div div div div div div div {
  font-weight: bold;
  color: #455268;
  font-size: 11px;
  }
  .errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
  }

  .searchSuggest {
    display: inline-block;
    width: 290px;
    max-width: 100%;
    position: absolute;
    margin-left: -250px;
    transform: translate(-50px, 0);
   }
   .searchWrapper {
    position: absolute;
    top: 18px;
    right: 35px;
    width: auto;
    margin: 10px 0;
    z-index: 99;
   }

}  

  
  // #infowindow-content .title {
  //       font-weight: bold;
  //       font-size: 1.2em !important;
        
  //     }
    
    







