<br>
<ion-content text-center padding>
<br>
<br>
<br>
  
  <!-- <div *ngIf="!isConnected"  style="margin-top: 70px">   

        <img src="assets/mapi/icon-error.png">
    
          <p style="text-align: center;">
          connect to the internet
          </p>
  </div> -->
<br>
<br>
<br>
<br>
<br>



<!-- <div *ngIf="isConnected"> -->
    <button icon-right ion-button block   color="danger" (click)="goMaps2()">
      For Me
      <ion-icon name=""></ion-icon>
    </button>
   <br>
 
      <div *ngIf="ben_collection">
    <button icon-right ion-button block color="newcolor"  (click)="goChat2()">
    For Beneficiary
    <ion-icon name=""></ion-icon>
    </button>
      </div>

  

   <br>
      

    <button icon-right ion-button block color="newcolor"    (click)="goMaps()">
        For Someone else
        <ion-icon name=""></ion-icon>
    </button>

<!-- </div>          -->

    
</ion-content>
