page-emergency {
    .toolbar-background {
        background-color:#11C1F3;
}



.toolbar-ios .segment-button {
    max-width: 100%;
    height: 2.6rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

ion-card img {
  display: block;
  width: auto;
  margin: 0 auto;
}

.card-content-md {
  padding: 10px 5px;
  font-size: 1.4rem;
  line-height: 1.5;
}

ion-card.fault-list.card.card-md {
  text-align: center !important;
  height: 85% !important;
  padding-top: 1em;
  height: 12%;
}

ion-card.fault-list.card-ios {
  text-align: center !important;
  height: 85% !important;
  padding-top: 1em;
  height: 12%;
}


ion-card.fault-list.card.card-md .card-ios {
}
















}
