<ion-header>
    <ion-navbar color="newcolor">
      <ion-toolbar color="newcolor" mode="ios">
        <ion-buttons start>
         <button color='light' ion-button icon-only menuToggle>
         <ion-icon name="menu"></ion-icon>
          </button>
         </ion-buttons>
        <ion-buttons end>
         <button color='light' ion-button icon-only >
        <!-- // <ion-icon ios="ios-more" md="md-more"></ion-icon> -->
        </button>
       </ion-buttons>
      <!-- <ion-title text-right>More</ion-title> -->
      <!-- <h6 color='light' text-right>More</h6> -->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font text-right (click)="goEmergencyNo()"  size="3" color='#f2f3f5'>E-Directory</font>
    </ion-toolbar>
  </ion-navbar>
</ion-header> 




<ion-content text-center>
    <!-- <h6 color='light' text-right>More</h6> -->
  <br>
  <ion-row no-lines *ngFor="let fault of faultCategories">
    <ion-card no-lines>
      <ion-item no-lines (click)="goSelfAdmission(fault)" text-right>
        <ion-avatar item-start>
          <img [src]="fault.imageUrl">
        </ion-avatar>
        <h1></h1>
        <font size="3" color='#38414a'>{{ fault.category }}</font>
      </ion-item>
    </ion-card>
  </ion-row>

<ion-row no-lines *ngFor="let other of otherCategories">
  <ion-card>
    <ion-item (click)="goSpecifyEmergency(other)" no-lines text-right>
      <ion-avatar item-start>
       <img src="https://blooming-waters-81867.herokuapp.com/icons/other.png">
        </ion-avatar>
        <h1></h1>
      
      <font size="3" color='#38414a'>{{ other.category }}</font>

    </ion-item>
  </ion-card>
</ion-row>

<br>
<br>
<br>
<br>

<!-- <ion-fab right bottom>
  <button ion-fab color="secondary"><ion-icon name="md-share"></ion-icon></button>
  <ion-fab-list side="left">
    <button  color="calm" ion-fab><ion-icon name="logo-whatsapp"></ion-icon></button>
    <button color="primary" ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
    <button  color="royal" ion-fab><ion-icon name="md-chatboxes"></ion-icon></button>
    <button ion-fab><ion-icon name="logo-linkedin"></ion-icon></button>
  </ion-fab-list>
</ion-fab> -->

<button ion-button clear color='newcolor' block (click)="goEmergencyNo()"> Cancel</button>


</ion-content>


