<!-- <div *ngIf="isConnected"> -->

<ion-header>
    <ion-navbar color="newcolor">
      <ion-toolbar color="newcolor" mode="ios">
        <ion-buttons start>
         <button color='light' ion-button icon-only menuToggle>
         <ion-icon name="menu"></ion-icon>
          </button>
         </ion-buttons>
        <ion-buttons end>
         <button (click)="goEmergencyNo()" color='light' ion-button icon-only >
           <h6  color='light'>E-Directory</h6>
        </button>
       </ion-buttons>   
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<!-- </div> -->

<br>
<br>
<br>
<br>


<ion-content text-center>

<!-- <div *ngIf="!isConnected"  style="margin-top: 70px">   

    <img src="assets/mapi/icon-error.png">

      <p style="text-align: center;">
      connect to the internet
      </p>

</div> -->

    <!-- <br>
    <br>
    <br> -->

  <!-- <div *ngIf="isConnected"> -->

      <ion-row no-lines *ngFor="let fault of faultCategories">
          <ion-card no-lines>
            <ion-item no-lines (click)="goSelfAdmission(fault)" text-right>
              <ion-avatar item-start>
                <img [src]="fault.imageUrl">
              </ion-avatar>
            
              <font size="3" color='#38414a'>{{ fault.category }}</font>
            </ion-item>
          </ion-card>
        </ion-row>

        
    <ion-row no-lines *ngFor="let other of otherCategories">
        <ion-card>
          <ion-item (click)="goSpecifyEmergency(other)" no-lines text-right>
            <ion-avatar item-start>
            <img src="https://blooming-waters-81867.herokuapp.com/icons/other.png">
            </ion-avatar>
            <font size="3" color='#38414a'>{{ other.category }}</font>
          </ion-item>
        </ion-card>
      </ion-row>


  <!-- </div> -->
  

<br>
<br>

</ion-content>


























