<ion-header>
    <ion-navbar  color='newcolor'>
      <ion-toolbar  color='newcolor' mode="ios">
        <ion-buttons start>
  
          <button ion-button icon-only menuToggle>
            <ion-icon  name="menu"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title text-center>Support</ion-title>
      </ion-toolbar>
    </ion-navbar>
  </ion-header>

  <ion-content padding>

        <font size="2" color='#38414a'>Send us a message/Query and we'll respond as soon as we can.</font><br>
      <div
      *ngFor="let message of messages"
      class="message-wrapper"
      on-hold="onMessageHold($event, $index, message)"
    >
      <div *ngIf="user._id !== message.userId">
        <div class="chat-bubble left slide-left">
          <div class="message" [innerHTML]="message.text" autolinker></div>
          <div class="message-detail">
            <span
              ><small>{{
                message.date | moment: "HH:mm" | lowercase
              }}</small></span
            >
          </div>
        </div>
      </div>
      <div *ngIf="user._id === message.userId">
        <div class="chat-bubble right slide-right">
          <div class="message" [innerHTML]="message.text" autolinker></div>
          <div class="message-detail">
            <span
            ><small class="right">
              {{ message.date | moment: "HH:mm" | lowercase }}
            </small></span
            >
          </div>
        </div>
      </div>
      <div class="cf"></div>
    </div> 
    <br>

     
</ion-content>




<ion-footer>
  <ion-item>
    <ion-input [(ngModel)]="chatBox" placeholder="typing..."></ion-input>
    <button ion-button clear (click)="send(chatBox)" item-end>
      <ion-icon class="footer-btn" name="send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
    