page-map {



    page-map {

        .toolbar-background {
            background-color:#38414a;
          }
    
          #map {
            height: 55%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
          }
         
          .searchbar-md .searchbar-input {
            color: #3687d3;
            border-radius: 15px;
            background: #FFF !important;
            font-size: 1.2em !important;
            border: 1px solid transparent;
            max-width: 600px;
        }
    
        .gm-style .gm-style-iw {
          //border: 2px solid #455268;
          width: 50% !important;
          height: 150px !important;
        
       }    
       .gm-style .gm-style-iw #google-popup p{
        padding: 4px;
     }
     .gm-style div div div div div div div div {
    margin: 8px;
      padding:0;
      top: 0;
      color: #38414a;
      font-size: 1px;
    }
    
    #infowindow-content .title {
            font-weight: bold;
            font-size: 1.2em !important;
           
          }
      //   .searchbar-input {
      //     background: #FFF !important;
      //     border-radius: 30px !important;
      //     height: 40px !important;
      //     max-width: 400px;
      //     font-size: 1.65em !important;
      //     border: 1px solid transparent;
      //     color: #f00;
      // }
    }
    





}
